body{background-color: #F0ECA0;

}

.box{background: #3C3F41;
    height: 70px;
    width: 100%;
    box-shadow: 0-0 10px;
}

.name{color:#F4DA48;
    position: relative;
    top: 20px;
    left: 15px;

}

.jjj{display: inline-block;

    height: 30px;
    width: 20px;



}

.jjj:hover{font-size:25px;
}